.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* scroll progrsess */
@media (prefers-reduced-motion: reduce) {
  .scroll-progress {
    display: none;
  }
}
